<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

<section class="blog section">
	<div class="container">
		<div class="row" >
			{{ range .Pages.ByWeight }}
			<div class="col-lg-4 col-md-6 mx-auto ">
			<article class="blog-post" style="padding-bottom: 20px; padding-right:5px;"> 
				<a class="post-title text-center" href="{{ .Permalink }}"style="text-decoration: none;" >
				<h4 style="color: #F2950A; text-decoration: none; font-size: 1.8rem;" > {{ .Title }} </h4></a>
				<!--<p style="text-align:justify; "> {{ .Summary }}	</p>-->
				<a href="{{ .Permalink }}"> {{ with .Params.image }}			
		<img src="{{ . | absURL }}" class="img-responsive center-image" alt="post-thumb" style="max-height: 250px;"> {{ end }} </a>		
			</article> 
			<hr>
			</div>
				{{ end }}
			</div>
			<div class="col-12 text-center">
				{{ template "_internal/pagination.html" . }}
			</div>
		</div>
	</section>

	{{ partial "footer.html" . }}

</body>
</html>
