<!-- {{ partial "global-header.html" . }}

 contact form start -->
{{ with .Site.Params.contact }}
<section id="contact">
  <div class="container">
      <div class="col-md-8 mx-auto text-center">
          <h2>{{ .title }}</h2>
          <br>
    
   <div class="fb-page" data-href="https://www.facebook.com/AtmaSeva108/" data-tabs="" data-width="" data-height="" 
          data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/AtmaSeva108/" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/AtmaSeva108/">Atma Seva</a></blockquote></div>
          
              <br> <br>
        <div class="block">
          <h2>{{ .box.title }}</h2>
            <ul class="address-block"> 
            <li>
              <a href="mailto:atmaseva108@gmail.com ?Subject=Hello%20again" target="_top" > 
               {{ .box.email }} </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
   
</section>
{{ end }}
