<div id="mapid" style="width: 100%; height: 400px;"></div>
<script>
	var mymap = L.map('mapid').setView([30.094924122185723, 78.64886474609375], 9);
	L.tileLayer('https://tile.thunderforest.com/cycle/{z}/{x}/{y}.png?apikey=10771ad162c94f459d234529910e1de0', {
	attribution: '&copy; <a href="http://www.thunderforest.com/">Thunderforest</a>, &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
	apikey: '<your apikey>', 
    maxZoom: 22,
		id: 'mapbox.streets'
	}).addTo(mymap);
	var cycleIcon = L.icon({
    iconUrl: '/img/pin.svg',
    iconSize:     [40, 40], // size of the icon
    iconAnchor:   [1, 2], // point of the icon which will correspond to marker's location
    popupAnchor:  [5, 5] // point from which the popup should open relative to the iconAnchor
});
var geojson = {
    "type": "FeatureCollection",
    "features": [
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "13 People",
          "Place": "Amri, Pauri"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.7568019,
            30.143157
          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "2 people",
          "Place": "Badarabad"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            77.9258752,	29.7513564

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "11 people",
          "Place": "Baniawala Sapera Basti"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.3196492,	30.129496
          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "5 people",
          "Place": "Chamoli"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
          79.3485361, 30.4092527,
          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "51 people",
          "Place": "Chandipur"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.3196492,	30.129496
          ]
        }
      },{
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "19 people",
          "Place": "Chandrabaga"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.3906213,	30.064872

          ]
        }
      },{
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "2 people",
          "Place": "Dalwala"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            77.9258752,	29.7513564
          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "4 people",
          "Place": "Dehradun"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            77.9258752,	29.7513564

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "3 people",
          "Place": "Dehradun Road"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            77.9258752,	29.7513564

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "187 people",
          "Place": "Gosipura"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            77.928055,	29.751109

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "368 people",
          "Place": "Gumaniwala"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.244211,	30.0731695

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "19 people",
          "Place": "Haridwar"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            77.9258752,	29.7513564

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "28 people",
          "Place": "Haripur"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.3196492,	30.129496

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "16 people",
          "Place": "IDPL Colony"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.3196492,	30.129496

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "3 people",
          "Place": "JollyGrant"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            77.9258752,	29.7513564

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "4 people",
          "Place": "Kailash Gate"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.3196492,	30.129496

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "14    people",
          "Place": "Kale Ki Daal"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.2951976,	30.1051939

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "5 people",
          "Place": "Khara Shrot Bridge"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.3057494,	30.1209746

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "4 people",
          "Place": "Ludhiana"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            77.9258752,	29.7513564

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "35 people",
          "Place": "Maral Yamkeshwar"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.4152801,	29.9827818

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "552 people",
          "Place": "Mayakund"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.3196492,	30.129496

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "27 people",
          "Place": "Mohan Chatti"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.3957468,	30.0671328

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "5 people",
          "Place": "Mothrawala"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.3196492,	30.129496

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "60 people",
          "Place": "Nagapattinam"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            79.7894411,	10.77958

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "11 people",
          "Place": "Narendranagar"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.2773089,	30.1603225

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "12 people",
          "Place": "New Delhi"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            77.0688994,	28.5272803

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "7 people",
          "Place": "Pathri"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.0458855,	29.9526313

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "31 people",
          "Place": "Rajpur"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.2147897,	30.0618888

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "3 people",
          "Place": "Saharanpur"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
          77.4863871, 29.9636149

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "5 people",
          "Place": "Sainji"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            77.9258752,	29.7513564

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "78 people",
          "Place": "Sapera basti"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.6398537,	30.1195501

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "8 people",
          "Place": "Seema Dental College Rishikesh"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.2851825,	30.1120381

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "4 people",
          "Place": "Shantinagar behind Kohli Hospital"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.2851825,	30.1120381

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "10 people",
          "Place": "Shishamjadi"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            77.9258752,	29.7513564

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "141 people",
          "Place": "Shyampur"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            77.9258752,	29.7513564

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "96 people",
          "Place": "Tapovan Colony"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.322204,	30.1292348

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "6 people",
          "Place": "Tapovan Road Hut"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            77.9258752,	29.7513564

          ]
        }
      },
      {
        "type": "Feature",
        "properties": {
          "marker-color": "#ff0000",
          "marker-size": "large",
          "info": "2 people",
          "Place": "Tilak Road"
        },
        "geometry": {
          "type": "Point",
          "coordinates": [
            78.2951976,	30.1051939

          ]
        }
      }
    ]
  }
         
L.geoJSON(geojson, {
	style : function(feature) {
		return{
			color: '#000'
		}
	},
	pointToLayer: function (geoJsonPoint, latlong) {
		return L.marker(latlong, {
			icon: cycleIcon
		})
		},
	onEachFeature: function(feature, layer){
		if(feature.geometry.type==='Point'){
			layer.bindPopup(feature.properties.info, feature.properties.Place);
		}
	}	
}).addTo(mymap); 
// Disable mousewheel zoom
	mymap.scrollWheelZoom.disable();
</script>

</div>
